body{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
    background-color: #f2f2f2;
}
.header-container{
    background-image:url(assets/bg-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 140px;
}
.icon-nav{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}
.icons{
    background-color:rgba(5, 5, 5, 0.535);
    padding: 10px;
    border-radius: 20px ;
}
.icon-nav a i{
    margin: 0px 5px;
    font-size: 1.3rem;
    color: #fff;
}
.icon-nav a i:hover{
    color: orange;
}
.perfil-img{
    position:relative;
    display: flex;
    padding: 0px 10px;
    height: 30px;
    background-color: rgb(255, 255, 255);
}
.perfil-img img{
    position:absolute;
    bottom: 0px;
    width: 90px;
    height: 90px;
    border-radius: 21px;
    border: 4px solid #5454548c;
}
.perfil-img h1{
    position:absolute;
    margin-left: 120px;
    bottom: 10px;
    color: rgba(12, 12, 12, 0.644);
    font-family: 'Jost', sans-serif;
}

section.scrollmenu {
    background-color: rgb(255, 255, 255);
    overflow: auto;
    white-space: nowrap;
    box-shadow: 0px 5px 5px #888888;
}
section.scrollmenu a {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    display: inline-block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

section.scrollmenu a:hover {
    background-color: #777;
}
.menu-items{
    
}
.menu-items h2{
    margin-left: 20px;
    font-family: 'Jost', sans-serif;
    color: #777;

}
.items{
    background-color: #fff;
    border-bottom: 1px solid #b2b2b2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
}
.items img{
    width: 140px;
    height: 110px;
    border-radius: 20px;
}
.item-description{
    font-family: 'Jost', sans-serif;
    padding: 20px;
    
}
.item-description h3 , p {
    margin: 0px;
}
.price{
    color: #777;
    font-size: 1.3rem;
}